h1 a, h2 a {
    color: #C25100;
}
table, th, td {
    border: 1px solid black;
}

html, body, #map {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

.dojoxColorPicker {
    position: absolute;
    top: 15px;
    right: 15px;
    -moz-box-shadow: 0 0 7px #888;
    -webkit-box-shadow: 0 0 7px #888;
    box-shadow: 0 0 7px #888;
  }