{% extends 'street_level_crimes/base.html' %}

{% block content %}
    <h2>Dashboard</h2>
    <div class="row">
        <div class="col-md-8">
            {% if crimes_list %}
            <table>
                <tr>
                    <th>Id</th>
                    <th>Category</th>
                    <th>Outcome Status</th>
                    <th>Location</th>
                </tr>
                {% for crime in crimes_list %}
                <tr>
                    <td>{{ crime.id }}</td>
                    <td>{{ crime.category }}</td>
                    <td>{{ crime.outcome_status }}</td>
                    <td>({{ crime.location.latitude }}, {{ crime.location.longitude }})</td>
                </tr>

                {% endfor %}
            </table>
            {% endif %}
        </div>
{% endblock %}